.git
.gitignore
.doc-source

node_modules
**/node_modules

dist
**/dist
dev-dist
**/dev-dist

coverage
**/coverage

apps/api/data
**/*.sqlite
**/*.sqlite3

.env
.env.*
!.env.example

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db
